<div class="col m-0 p-0">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-0 fixed-bottom navb">
        <a class="navbar-brand" href="#"><i class="fas fa-user"></i></a>
        <a class="navbar-brand" href="#"><i class="fas fa-plus-circle addicon2"></i></a>
        <a class="navbar-brand" href="#"><i class="fas fa-calendar-alt"></i></a>
    </nav>
</div>

<script type="text/javascript" src="script.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</div>

</body>
</html>